services:
  - type: web
    name: talkboard-socketservice
    runtime: node
    env: node
    buildCommand: npm ci && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URL
        sync: false
      - key: PORT
        value: 3000
    healthCheckPath: /
    autoDeploy: true
